In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [2]:
# тут пишем ваш код для решения данного вопроса:
dat[dat.budget == dat.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [3]:

dat[dat.runtime == dat.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [4]:
dat[dat.runtime == dat.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '2. 110' # +

In [5]:
dat.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1. 107' # +

In [6]:
dat.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [7]:
 #5 variant 2
dat.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = '5. Avatar (tt0499549) ' # +

In [8]:
dat['Profit'] = dat.revenue-dat.budget
dat[dat.Profit == dat.Profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5. The Lone Ranger (tt1210819) верно ' # +

In [9]:
dat['Profit'] = dat.revenue-dat.budget
dat[dat.Profit == dat.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1. 1478 ' # +

In [10]:
dat['Profit'] = dat.revenue-dat.budget
len(dat[dat.Profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '4. The Dark Knight (tt0468569)  ' # +

In [11]:
dat[dat.revenue == dat[dat.release_year == 2008].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5. The Lone Ranger (tt1210819)  ' # +

In [12]:
dat['Profit'] = dat.revenue-dat.budget
dat[dat.Profit == dat[(dat.release_year == 2012)|(dat.release_year == 2013)|(dat.release_year == 2014)].Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = '3. Drama  ' # +

In [13]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.DataFrame(dat.genres.str.split('|').tolist()).stack().value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1. Drama  ' # +

In [14]:
dat['Profit'] = dat.revenue-dat.budget
profit_genres = dat[dat['Profit'] > 0]
pd.DataFrame(profit_genres.genres.str.split('|', expand=True)).stack().value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [0]:
answers['13'] = '5. Peter Jackson  ' # +

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data=pd.read_csv('movie_bd_v5.xls')
i=0
j=0
def director_revenue(df):
    summ_revenue = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].director.split('|'):
            summ_revenue[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ_revenue, orient='index', columns = ['summ_revenue'])
display(director_revenue(data[data.revenue > 0]).sort_values(by=['summ_revenue'], ascending = False))

                   summ_revenue
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
...                         ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = '3. Robert Rodriguez  ' # +

In [19]:
action_genres=dat[dat['genres'].str.contains('Action', regex=False)]
pd.DataFrame(action_genres.director.str.split('|', expand=True)).stack().value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = '3. Chris Hemsworth ' # +

In [20]:
year_dat=dat.query('release_year == 2012')
cast_dat=pd.DataFrame(year_dat.cast.str.split('|', expand=True))
cast_dat.columns=['cast1', 'cast2', 'cast3', 'cast4', 'cast5']
year_dat_revenue=year_dat[['revenue']]
total=pd.merge(year_dat_revenue, cast_dat, right_index=True, left_index=True)
a=total[['cast1', 'revenue']]
b=total[['cast2', 'revenue']]
c=total[['cast3', 'revenue']]
d=total[['cast4', 'revenue']]
e=total[['cast5', 'revenue']]
b.columns=['cast1', 'revenue']
c.columns=['cast1', 'revenue']
d.columns=['cast1', 'revenue']
e.columns=['cast1', 'revenue']
pd.concat([a,b,c,d,e]).groupby('cast1').sum().sort_values('revenue', ascending=False).head(1)

                    revenue
cast1
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '3. Matt Damon ' # +

In [21]:
budget_dat=dat[dat.budget > dat.budget.mean()]
pd.DataFrame(budget_dat.cast.str.split('|', expand=True)).stack().value_counts().head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = '2. Action ' # +

In [22]:
Nicolas_dat=dat[dat['cast'].str.contains('Nicolas Cage', regex=False)]
pd.DataFrame(Nicolas_dat.genres.str.split('|', expand=True)).stack().value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)  ' # +

In [23]:
dat['Profit'] = dat.revenue-dat.budget
dat[dat['production_companies'].str.contains('Paramount Pictures', regex=False)].sort_values('Profit', ascending=False).tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '5. 2015  ' # +

In [24]:
dat.groupby('release_year').sum().sort_values('revenue', ascending=False).head(1)

                  budget      revenue  runtime  vote_average       Profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '1. 2014  ' # +

In [25]:
dat['Profit'] = dat.revenue-dat.budget
dat[dat['production_companies'].str.contains('Warner Bros', regex=False)].groupby('release_year').sum().sort_values('Profit', ascending=False).head(1)

                 budget     revenue  runtime  vote_average      Profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '4. Сентябрь   ' # +

In [26]:
pd.DatetimeIndex(dat['release_date']).month.value_counts().head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2. 450   ' # +

In [27]:
dat['month']=pd.DatetimeIndex(dat['release_date']).month
dat[(dat['month'] == 6)|(dat['month'] == 7)|(dat['month'] == 8)].month.value_counts().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = '5. Peter Jackson   ' # +

In [28]:
dat['month']=pd.DatetimeIndex(dat['release_date']).month
winter_dat=dat[(dat['month'] == 1)|(dat['month'] == 12)|(dat['month'] == 2)]
pd.DataFrame(winter_dat.director.str.split('|', expand=True)).stack().value_counts().head(1)

Peter Jackson    7
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = '5. Four By Two Productions   ' # +

In [29]:
dat['lenght']=dat.original_title.str.len()
dat1=pd.DataFrame(dat.production_companies.str.split('|').tolist()).stack()
dat1=dat1.value_counts(ascending=False)
dat1=pd.DataFrame(dat1)
dat1.columns=['lenght'] 
for i in dat1.index:
    dat1.lenght[i]=dat[dat['production_companies'].map(lambda x: True if i in x else False)].lenght.mean()
dat1.sort_values('lenght', ascending=False).head(1)

                         lenght
Four By Two Productions      83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = '3. Midnight Picture Show   ' # +

In [30]:
dat['words']=dat.overview.map(lambda x: len(x.split(' ')))
dat1=pd.DataFrame(dat.production_companies.str.split('|').tolist()).stack()
dat1=dat1.value_counts(ascending=False)
dat1=pd.DataFrame(dat1)
dat1.columns=['words'] 
for i in dat1.index:
    dat1.words[i]=dat[dat['production_companies'].map(lambda x: True if i in x else False)].words.mean()
dat1.sort_values('words', ascending=False).head(1)

                       words
Midnight Picture Show    175

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave   ' # +

In [31]:
best=dat[dat['vote_average']>dat.quantile(0.99, numeric_only=True)['vote_average']]
pd.DataFrame(best.original_title).stack().head(300)

9     original_title                                       Inside Out
34    original_title                                             Room
118   original_title                                     Interstellar
119   original_title                          Guardians of the Galaxy
125   original_title                               The Imitation Game
128   original_title                                        Gone Girl
138   original_title                         The Grand Budapest Hotel
370   original_title                                        Inception
599   original_title                                  The Dark Knight
872   original_title                                      The Pianist
1081  original_title    The Lord of the Rings: The Return of the King
1183  original_title                          The Wolf of Wall Street
1191  original_title                                 12 Years a Slave
1800  original_title                                          Memento
dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint   ' # +

In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
dat=pd.read_csv('movie_bd_v5.xls')
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(1)

Daniel Radcliffe Emma Watson    8
Name: actor_combinations, dtype: int64

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)